USE [master]
GO
/****** Object:  Database [Gara]    Script Date: 6/22/2019 10:28:06 AM ******/
CREATE DATABASE [Gara]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gara', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Gara.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gara_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Gara_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gara].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gara]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 6/22/2019 10:28:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[SOHD] [int] NOT NULL,
	[MASP] [int] NOT NULL,
	[SL] [int] NULL,
	[GiaCTHD] [decimal](18, 0) NULL,
 CONSTRAINT [pk_cthd] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTNV]    Script Date: 6/22/2019 10:28:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTNV](
	[IDPhanQuyen] [int] IDENTITY(1,1) NOT NULL,
	[Chuc] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPhanQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangNhap]    Script Date: 6/22/2019 10:28:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangNhap](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [varchar](20) NULL,
	[MatKhau] [varchar](20) NULL,
	[MANV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANGXE]    Script Date: 6/22/2019 10:28:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGXE](
	[MAHANGXE] [int] IDENTITY(1,1) NOT NULL,
	[TENHANGXE] [nvarchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHANGXE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 6/22/2019 10:28:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHD] [int] IDENTITY(1,1) NOT NULL,
	[NGSUA] [date] NULL,
	[NGHD] [date] NULL,
	[MAKH] [int] NULL,
	[MANV] [int] NULL,
	[MANVTV] [int] NULL,
	[MANVKT] [int] NULL,
	[TongGia] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 6/22/2019 10:28:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](40) NULL,
	[MAHANGXE] [int] NULL,
	[SODT] [varchar](10) NULL,
	[BIENSO] [varchar](20) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[SOKM] [varchar](20) NULL,
	[SOKHUNG] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/22/2019 10:28:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[IDPhanQuyen] [int] NULL,
	[HOTEN] [nvarchar](40) NULL,
	[SODT] [varchar](20) NULL,
	[NGVL] [date] NULL,
	[DIACHI] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAPKHO]    Script Date: 6/22/2019 10:28:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAPKHO](
	[MANHAPKHO] [int] IDENTITY(1,1) NOT NULL,
	[NGAYNHAP] [date] NULL,
	[MASP] [int] NULL,
	[NGNHAP] [int] NULL,
	[SLNHAP] [int] NULL,
	[GIANHAP] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHAPKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 6/22/2019 10:28:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [int] IDENTITY(1,1) NOT NULL,
	[TENSP] [nvarchar](40) NULL,
	[SOLUONG] [float] NULL,
	[GIANHAP] [decimal](18, 0) NULL,
	[GIABAN] [decimal](18, 0) NULL,
	[DonVi] [nvarchar](20) NULL,
	[LOAI] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CTHD] ([SOHD], [MASP], [SL], [GiaCTHD]) VALUES (2, 1, 1, CAST(250 AS Decimal(18, 0)))
INSERT [dbo].[CTHD] ([SOHD], [MASP], [SL], [GiaCTHD]) VALUES (2, 2, 1, CAST(130 AS Decimal(18, 0)))
INSERT [dbo].[CTHD] ([SOHD], [MASP], [SL], [GiaCTHD]) VALUES (3, 4, -1, CAST(-200 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[CTNV] ON 

INSERT [dbo].[CTNV] ([IDPhanQuyen], [Chuc]) VALUES (1, N'Giám đốc')
INSERT [dbo].[CTNV] ([IDPhanQuyen], [Chuc]) VALUES (2, N'Thu ngân')
INSERT [dbo].[CTNV] ([IDPhanQuyen], [Chuc]) VALUES (3, N'NVTV')
SET IDENTITY_INSERT [dbo].[CTNV] OFF
SET IDENTITY_INSERT [dbo].[DangNhap] ON 

INSERT [dbo].[DangNhap] ([ID], [TaiKhoan], [MatKhau], [MANV]) VALUES (1, N'admin', N'admin', 1)
INSERT [dbo].[DangNhap] ([ID], [TaiKhoan], [MatKhau], [MANV]) VALUES (24, N'thungan', N'thungan', 16)
SET IDENTITY_INSERT [dbo].[DangNhap] OFF
SET IDENTITY_INSERT [dbo].[HANGXE] ON 

INSERT [dbo].[HANGXE] ([MAHANGXE], [TENHANGXE]) VALUES (1, N'')
INSERT [dbo].[HANGXE] ([MAHANGXE], [TENHANGXE]) VALUES (2, N'Toyota Vios')
INSERT [dbo].[HANGXE] ([MAHANGXE], [TENHANGXE]) VALUES (3, N'Honda Civic')
SET IDENTITY_INSERT [dbo].[HANGXE] OFF
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([SOHD], [NGSUA], [NGHD], [MAKH], [MANV], [MANVTV], [MANVKT], [TongGia]) VALUES (2, CAST(N'2019-06-05' AS Date), CAST(N'2019-06-05' AS Date), 1, 1, 3, 4, CAST(380 AS Decimal(18, 0)))
INSERT [dbo].[HOADON] ([SOHD], [NGSUA], [NGHD], [MAKH], [MANV], [MANVTV], [MANVKT], [TongGia]) VALUES (3, CAST(N'2019-06-06' AS Date), CAST(N'2019-06-06' AS Date), 1, 1, 3, 4, CAST(-200 AS Decimal(18, 0)))
INSERT [dbo].[HOADON] ([SOHD], [NGSUA], [NGHD], [MAKH], [MANV], [MANVTV], [MANVKT], [TongGia]) VALUES (4, CAST(N'2019-06-08' AS Date), NULL, 2, 1, 3, 4, CAST(250 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[HOADON] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [MAHANGXE], [SODT], [BIENSO], [DIACHI], [SOKM], [SOKHUNG]) VALUES (1, N'Khánh', 2, N'213', N'123', N'123', N'23213', N'123')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [MAHANGXE], [SODT], [BIENSO], [DIACHI], [SOKM], [SOKHUNG]) VALUES (2, N'Nguyễn Việt Tiến', 3, N'0932103', N'77D-51871', N'', N'9999', N'')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [MAHANGXE], [SODT], [BIENSO], [DIACHI], [SOKM], [SOKHUNG]) VALUES (3, N'TQK', 2, N'3123', N'59A-123', N'', N'2341', N'')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [IDPhanQuyen], [HOTEN], [SODT], [NGVL], [DIACHI]) VALUES (1, 1, N'Tạ Quốc Khánh', N'', CAST(N'2019-01-01' AS Date), N'')
INSERT [dbo].[NHANVIEN] ([MANV], [IDPhanQuyen], [HOTEN], [SODT], [NGVL], [DIACHI]) VALUES (3, 4, N'Tín', N'0909', CAST(N'2019-01-04' AS Date), N'24 Võ Thị Sáu')
INSERT [dbo].[NHANVIEN] ([MANV], [IDPhanQuyen], [HOTEN], [SODT], [NGVL], [DIACHI]) VALUES (4, 3, N'Tiến C', N'', CAST(N'1900-01-01' AS Date), N'')
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[NHAPKHO] ON 

INSERT [dbo].[NHAPKHO] ([MANHAPKHO], [NGAYNHAP], [MASP], [NGNHAP], [SLNHAP], [GIANHAP]) VALUES (19, CAST(N'2019-06-06' AS Date), 1, 1, 3, CAST(750 AS Decimal(18, 0)))
INSERT [dbo].[NHAPKHO] ([MANHAPKHO], [NGAYNHAP], [MASP], [NGNHAP], [SLNHAP], [GIANHAP]) VALUES (20, CAST(N'2019-06-03' AS Date), 1, 1, 2, CAST(500 AS Decimal(18, 0)))
INSERT [dbo].[NHAPKHO] ([MANHAPKHO], [NGAYNHAP], [MASP], [NGNHAP], [SLNHAP], [GIANHAP]) VALUES (28, CAST(N'2019-06-06' AS Date), 2, 1, 2, CAST(230 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[NHAPKHO] OFF
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [SOLUONG], [GIANHAP], [GIABAN], [DonVi], [LOAI]) VALUES (1, N'Nhớt  Mobil 1 Advanced Fuel Economy', 35, CAST(300 AS Decimal(18, 0)), CAST(250 AS Decimal(18, 0)), N'Chai', N'Phụ tùng')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [SOLUONG], [GIANHAP], [GIABAN], [DonVi], [LOAI]) VALUES (2, N'Castrol GTX Magnatec', 48, CAST(100 AS Decimal(18, 0)), CAST(130 AS Decimal(18, 0)), N'Chai', N'Phụ tùng')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [SOLUONG], [GIANHAP], [GIABAN], [DonVi], [LOAI]) VALUES (3, N'Gương xe', 11, CAST(2000 AS Decimal(18, 0)), CAST(2500 AS Decimal(18, 0)), N'Cặp', N'Phụ tùng')
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [fk1_cthd] FOREIGN KEY([SOHD])
REFERENCES [dbo].[HOADON] ([SOHD])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [fk1_cthd]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [fk2_cthd] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [fk2_cthd]
GO
ALTER TABLE [dbo].[DangNhap]  WITH CHECK ADD  CONSTRAINT [fk1_dn] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DangNhap] CHECK CONSTRAINT [fk1_dn]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [fk1_hd] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [fk1_hd]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [fk4_hd] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [fk4_hd]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [fk_kh] FOREIGN KEY([MAHANGXE])
REFERENCES [dbo].[HANGXE] ([MAHANGXE])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [fk_kh]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [fk_nv] FOREIGN KEY([IDPhanQuyen])
REFERENCES [dbo].[CTNV] ([IDPhanQuyen])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [fk_nv]
GO
ALTER TABLE [dbo].[NHAPKHO]  WITH CHECK ADD  CONSTRAINT [fk1_nk] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[NHAPKHO] CHECK CONSTRAINT [fk1_nk]
GO
ALTER TABLE [dbo].[NHAPKHO]  WITH CHECK ADD  CONSTRAINT [fk2_nk] FOREIGN KEY([NGNHAP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHAPKHO] CHECK CONSTRAINT [fk2_nk]
GO
USE [master]
GO
